{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  annotations:
    app.kubernetes.io/name: {{ .Release.Name }}-ingress
    app.kubernetes.io/version: {{ .Values.image.tag | quote }}
    app.kubernetes.io/component: ingress
    app.kubernetes.io/part-of: {{ .Release.Name }}-svc
    kubernetes.io/ingress.class: {{ .Values.ingress.class | quote }}
    alb.ingress.kubernetes.io/scheme: {{ .Values.ingress.scheme }}
    alb.ingress.kubernetes.io/actions.ssl-redirect: {{ .Values.ingress.sslRedirect | quote }}
    alb.ingress.kubernetes.io/listen-ports: {{ .Values.ingress.listenPorts | quote }}
    alb.ingress.kubernetes.io/certificate-arn: {{ .Values.ingress.certificate_arn | quote }}
    alb.ingress.kubernetes.io/healthcheck-path: {{ .Values.ingress.healthCheckPath }}
    alb.ingress.kubernetes.io/success-codes: '200,401'
    alb.ingress.kubernetes.io/tags: "backup-policy={{ .Values.ingress.backupPolicy }}, creation-source={{ .Release.Name }}, domain-owner={{ .Values.ingress.domainOwner }}, resource=elbv2, domains={{ .Values.ingress.domains  }}, incident-priority={{ .Values.ingress.incidentPrority }}, internal=true, services={{ .Release.Name }}, environment={{ .Values.appEnv }}"
    external-dns.alpha.kubernetes.io/hostname: {{ .Release.Name }}.{{ .Values.app.k8s_dns }}.{{ .Values.app.aws_region }}.{{ .Values.app.squad }}.jandrinet.cloud
  labels:
    app: {{ .Release.Name }}-ingress
    app.kubernetes.io/name: {{ .Release.Name }}-ingress
spec:
  rules:
  - host: {{ .Release.Name }}.{{ .Values.app.k8s_dns }}.{{ .Values.app.aws_region }}.{{ .Values.app.squad }}.jandrinet.cloud
    http:
      paths:
        - backend:
            service:
              name: ssl-redirect
              port:
                name: use-annotation
          path: /*
          pathType: ImplementationSpecific
        - backend:
            service:
              name: {{ .Release.Name }}-svc
              port:
                number: 80
          path: /*
          pathType: ImplementationSpecific
  - host: {{ .Values.ingress.host }}
    http:
      paths:
        - backend:
            service:
              name: ssl-redirect
              port:
                name: use-annotation
          path: /*
          pathType: ImplementationSpecific
        - backend:
            service:
              name: {{ .Release.Name }}-svc
              port:
                number: 80
          path: /*
          pathType: ImplementationSpecific
{{- end }}