apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Values.image.tag }}
    app.kubernetes.io/managed-by: github
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: {{ .Release.Name }}-svc
  name: {{ .Release.Name }}-svc
spec:
  type: NodePort
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  selector:
    app: {{ .Release.Name }}
